<script setup lang="ts">
import router from '@/router';
import { createVuetify } from 'vuetify'
import { ref } from 'vue';
import { useAuthStore } from '@/stores/auth';

const User = useAuthStore()
const gotoStock = () => {
    router.push({ name: 'stock' }); // ต้องแก้ตามชื่อของ route ที่ต้องการไป
  };

</script>

<template>
  <div class="ma-0" style="background-color: sienna;" fluid>  
  <v-container style="text-align: center; width: 600px;"> 
    <v-card class="mx-auto pa-12 pb-8" elevation="8" max-width="450" rounded="lg">
      <div class="text-subtitle-1 text-medium-emphasis d-flex align-center justify-space-between" >
        Username
      </div>

          <v-text-field v-model="User.username" :readonly="User.loading"
                          :rules="[(v) => !!v || 'Field is required']" clearable label="username"
                          placeholder="Enter your username">
          </v-text-field>

          <div class="text-subtitle-1 text-medium-emphasis d-flex align-center justify-space-between">
            Password
          </div>

          <v-text-field v-model="User.password" :readonly="User.loading"
                          :rules="[(v) => !!v || 'Field is required']" clearable label="password"
                          placeholder="Enter your password">
          </v-text-field>

          <v-btn block class="mb-8" color="browe" size="large" variant="tonal" @click="User.login()">
            Log In
          </v-btn>
    </v-card>
  </v-container>
</div>
</template>
