<script lang="ts" setup>
import { usePromotionStore } from '@/stores/Promotion';
import { ref } from 'vue';

const promotionStore = usePromotionStore()
const selectedPromotionId = ref(null);
</script>
<template>
  <!-- use button group to group it -->
  <v-radio-group :mandatory="false">
    <v-list style="height: 500px; overflow-y: scroll; background-color: rgba(114, 87, 42, 1)">
      <div>
        <!-- mb = marginbelow -->
        <v-card v-for="promotion in  promotionStore.filteredPromotions " :key="promotion.id" class="mx-auto my-4"
          width="400" prepend-icon="mdi-ticket-percent-outline" :id="'card-' + promotion.id"
          :class="{ 'cardcannotuse': promotion.status !== 'enable', 'cardcanuse': promotion.status === 'enable' }">
          <template v-slot:title>
            {{ promotion.name }} <v-radio v-model="selectedPromotionId" :label="promotion.name" :value="promotion.id"
              :disabled="promotion.status !== 'enable'"></v-radio>

          </template>

          <v-card-subtitle class="text-h6">
            <template v-if="promotion.PromotionItem && promotion.PromotionItem.length > 0" class="ma-10">



              <!-- Iterate over PromotionItem array -->
              <!-- If it possible put like overview button to open dialog and see the promotion card detail -->

              <p v-for="( item, index ) in  promotion.PromotionItem " :key="index">Discount: {{ item.discount }} Baht
              </p>
              <p v-for="( item, index ) in  promotion.PromotionItem " :key="index"> Minimum buy: {{ item.condition }}
              </p>




            </template>
            <template v-else>
              <p>No Promotion Items</p>
            </template>
          </v-card-subtitle>

          <v-card-text>
            <p>Start Date: {{ promotion.startdate }}</p>
            <p>End Date: {{ promotion.enddate }}</p>
            <p>Status: {{ promotion.status }}</p>


            <!-- Check if PromotionItem array exists -->

          </v-card-text>

        </v-card>
      </div>
    </v-list>
  </v-radio-group>
</template>
<style scoped>
/* this style for card that is not enable */
.cardcannotuse {
  background-color: #a2a2a2;

}

.cardcanuse {
  background-color: #ffffff;
}
</style>