<script setup lang="ts">
import { inject, ref, type Ref } from 'vue';
import { useAuthStore } from '@/stores/auth';
const User = useAuthStore()
const drawer = inject<Ref<boolean>>('drawer');
const rail = inject<Ref<boolean>>('rail');

const selectedMenuItem = ref<string>('');

const updateSelected = (value: string) => {
  selectedMenuItem.value = value;
  console.log('Selected Menu Item:', selectedMenuItem.value);
};
</script>

<template>
  <v-navigation-drawer color="#DFBA92" v-model="drawer" :rail="rail" permanent @click="rail = false">
    <v-list-item 
      prepend-avatar="https://randomuser.me/api/portraits/men/85.jpg"
      title="wittaya Charoenchaisakulsuk"
    >
      <template v-slot:append>
        <v-btn variant="text" icon="mdi-chevron-left" @click.stop="rail = !rail"></v-btn>
      </template>
    </v-list-item>

    <v-divider></v-divider>

    <v-list density="compact" nav>
      <v-list-item
        prepend-icon="mdi-cart"
        title="POS"
        value="pos"
        @click="updateSelected('pos')"
        :to="{ name: 'pos' }"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-package-variant-closed"
        title="Stock"
        value="stock"
        @click="updateSelected('stock')"
        :to="{ path: '/stock' }"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-account-group"
        title="Customer Management"
        value="customer"
      
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-clipboard-text-outline"
        title="Order Management"
        value="order"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-account"
        title="Employee Management"
        value="employee"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-account-tie"
        title="User Management"
        value="user"
      ></v-list-item>
    </v-list>
    <MainAppBar :selectedMenuItem="selectedMenuItem" />
  </v-navigation-drawer>
</template>


